<html>
<head>
	<title>Testing</title>
	<script type="text/javascript" src="/javascripts/application.js"></script>
	<script type="text/javascript" src="/javascripts/templates.js"></script>
</head>
<body>

</body>
</html>