<html>
<head>
	<title>Project Name</title>
	<script type="text/javascript" src="/javascripts/application.js"></script>
	<script type="text/javascript" src="/javascripts/templates.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/sample.css" />
</head>
<body>

</body>
</html>